<%= form_for @article do |f| %>

<div class="">
<%= f.label :title %>
<%= f.text_area :title %>
</div>

<div class="">
<%= f.label :picture %>
<%= f.text_area :picture %>
</div>

<div class="">
<%= f.label :content %>
<%= f.text_area :content %>
</div>

<div class="">
<%= f.label :category %>
<%= f.text_field :category %>
</div>

<div class="">
<%= f.submit %>
</div>

<% end %>

<ul>
<% @article.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>
