<div class="most-recent-container">

<% @articles.each do |article| %>
<div class="most-recent">

<p> <%= article.category.name %> </p>
<h2> <%= article.title %> </h2>
<p>by: <%= article.user.username %> </p>

<p>
<%= link_to article_path(article) do %>
  <%= image_tag article.picture, class: "article-image" %>
<% end %>
</p>

<!-- <p> <%= article.content %> </p> -->

</div>

<% end %>


</div>
