<!-- <h1> <%= @article.category.name %> </h1> -->

<h2><%= @article.title %></h2>
<p>by: <%= link_to "#{@article.user.username}", user_path(@article.user)%></p>

<img src="<%= @article.picture %>" alt="<%= @article.title %>">
<br>
<button type="button" name="button">Like</button>
<br>
<p> <%= @article.content %> </p>

<% if current_user && current_user == @article.user %>
  <%= link_to 'Edit', edit_article_path %>
  <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure to delete this recipe?' } %>
<% end %>
