<!DOCTYPE html>
<html>
  <head>
    <title>AlmondSports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Articles', articles_path %>
      <%= link_to 'Register', new_user_path %>
      <%= link_to 'Login' %>

    </nav>

    <%= yield %>

  </body>
</html>
