<!DOCTYPE html>
<html>
  <head>
    <title>AlmondSports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to root_path do %>
    <%= image_tag 'logofinal.png', id: "logo" %>
    <% end %>
    <nav class="navigation">

      <%= link_to 'Articles', articles_path %>
      <%= link_to 'About Us', about_path %>
      <% if !current_user %>
        <%= link_to 'Register', new_user_path %>
        <%= link_to 'Login', new_sessions_path %>
      <% else %>
        <%= link_to 'Logout', sessions_path, :method => :delete %>
        <%= link_to 'Profile', user_path(current_user) %>
      <% end %>
      <% if current_user && current_user.admin == true %>
        <%= link_to 'New Article', new_article_path %>
      <% end %>
    </nav>

    <%= yield %>

  </body>
</html>
